import React from "react";
import PropTypes from "prop-types";
import classes from 'classnames';

/**
 * {{component_desc}}
 */
const {{reactCase name}} = ({ {{#if custom_prop_name}} {{~custom_prop_name~}}, {{/if}} className, children}) => {
 const {{toLowerCase name}}Class = classes(
    '{{reactCase name}}',
    {{#if custom_prop_name}}
    `{{reactCase name}}--${ {{~custom_prop_name~}} }`,
    {{/if}}
    className
  );  
  return (
    <div className={ {{~toLowerCase name~}}Class}>{children}</div>
  )
};

{{reactCase name}}.propTypes = {
  {{#if custom_prop_name}} 
  /** {{custom_prop_desc}} */
  {{custom_prop_name~}}: PropTypes.{{custom_prop_type}},
  {{/if}}
  /** Any additional classes to be applied to the button */
  className: PropTypes.string,
  /** Children elements. */
  children: PropTypes.string,
};

{{reactCase name}}.defaultProps = {
{{#if custom_prop_name}} 
  {{custom_prop_name~}}: {{custom_prop_default}},
{{/if}}
  className: null,
  children: null,
};

/**
 * @component
 */
export default {{reactCase name}};
