import React from "react";
import PropTypes from "prop-types";
import classes from 'classnames';

/**
 * {{component_desc}}
 */
const {{reactCase name}} = ({modifierProp, className, children}) => {
 const {{toLowerCase name}}Class = classes(
    '{{reactCase name}}',
    `{{reactCase name}}--${modifierProp}`,
    className
  );  
  return (
    <div className={ {{~toLowerCase name~}}Class}>{children}</div>
  )
};

{{reactCase name}}.propTypes = {
  /**
   * A consice description of the example prop.
   */
  modifierProp: PropTypes.string,
  /** Any additional classes to be applied to the button */
  className: PropTypes.string,
  /** Children elements. */
  children: PropTypes.string,
};

{{reactCase name}}.defaultProps = {
  modifierProp: 'default',
  className: null,
  children: null,
};

/**
 * @component
 */
export default {{reactCase name}};
